html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#content {
    flex-grow: 1;
}

.center-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}

.page-container {
    display: flex;
    flex-direction: column;
}

.nav.flex-column {
    width: 100%;
    height: auto;
    position: relative;
}

.main-content {
    margin-left: 0;
    width: 100%;
}

.aligned-navbar {
    max-width: 100%;
    margin-left: 0;
}

/*  PROFILE STYLE */

#profileName, #profileMajor, #profileAge, #profileText, #profilePic {
    border-color: #555;
    border-width: 1.5px;
}

#profileButton{
    background-color: #333;
    border-color: #555;
    border-width: 1.5px;
    color: #fff;
    width: 25%;
}

#profileName:focus, #profileMajor:focus, #profileAge:focus, #profileText:focus, #profilePic:focus{
    border-color: #777;
    box-shadow: 0 0 0 0.25rem rgba(102, 102, 102, 0.25);
}

/*  IMPRINT STYLE */

ul{
    list-style-type: none;
    padding: 0;
}
li{
    margin-bottom: 5px;
}
.indented{
    margin-left: 25px;
}

.imprint-style {
    max-width: 600px; /* Maximale Breite des Impressums */
    margin: 0 auto; /* Zentriert das Impressum */
    text-align: left; /* Links ausrichten */
    width: calc(100% - 200px);
}
.imprint-headline-1{
    font-size: xx-large;
    text-align: center;
}
.imprint-headline-2{
    font-size: x-large;
    text-align: center;
}

details {
    padding: .75em .75em 0;
    margin-top: 40px;
}

summary {
    font-weight: bold;
    margin: -.75em -.75em 0;
    padding: .75em;
    background-color: dimgray;
    color: white;
}

details[open] {
    padding: 12px;
    background-color: grey;
    color: white;
}

details[open] summary {
    margin-bottom: 10px;
}

#helpDiv {
    margin: 5%;
    margin-top: 15px;
    margin-bottom: 60px;
}

details h1 {
    align-self: center;
    margin-bottom: 15px;
}


@media (min-width: 768px) {
    .page-container {
        flex-direction: row;
    }

    .nav.flex-column {
        min-width: 200px;
        height: 100vh;
        position: fixed;
    }

    .main-content {
        margin-left: 200px;
        width: calc(100% - 200px);
    }

    .aligned-navbar {
        max-width: fit-content;
        margin-left: auto;
    }
}
